* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: hsl(270, 50%, 73%);
  --button-hover: hsl(270, 60%, 98%);

  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

header .photo {
  width: 21.3rem;
  height: 21.3rem;
  border-radius: 50%;
  border: 2px solid var(--body-bg-color);
  margin: 0 auto;
  padding: 0.4rem;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

header a {
  text-decoration: none;
  color: var(--body-bg-color);
  margin-bottom: 3rem;
}

header a:hover {
  font-weight: 600;

  transition: font-weight 400ms;
}

section.button-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 3rem;
}

section.button-link a {
  margin: 0 auto;
  width: 32.6rem;
  border: 2px solid var(--body-bg-color);
  border-radius: 0.4rem;
  padding-block: 1.2rem;
  text-decoration: none;
  color: var(--body-bg-color);
  text-transform: uppercase;
  line-height: 2.4rem;
  font-weight: 600;
}


section.button-link a:hover {
  background-color: var(--body-bg-color);
  color: var(--button-hover);

  transition: background 0.5s;
}

section.social ul {
  display: flex;
  justify-content: center;
  gap: 2.9rem;
  margin-bottom: 1rem;
}

section.social  li svg:hover {
  transform: scale(1.30);

  transition: all .5s;
}
